<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMitr</title>
    <script src="/__/firebase/7.14.6/firebase-app.js"></script>

    <script src="/__/firebase/7.14.6/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 10%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .field-long {
            width: 100%;
        }
    </style>

    <!-- <a href="#" id="insert-more">Insert Row in
        Affirmations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick=" Geeks()">Delete Row in Affirmations</button>
    <br><br>
    <a href="#" id="insert-more1">Insert Row in Goals</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick=" Geeks1()">Delete Row in Goals</button>
    <br><br>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="images/img3.jpg" width="300" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Templates
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Onboarding</a>
                        <a class="dropdown-item" href="timetable">Time Matrix</a>
                        <a class="dropdown-item" href="priority">Priority</a>
                        <a class="dropdown-item" href="streams">Tracks</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Daily
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="affirmations">Goals & Affirmation</a>
                        <a class="dropdown-item" href="#">Previous Days</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Weekly
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="activity">Template</a>
                        <a class="dropdown-item" href="weeklyprogress">Weekly Progress</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sessions
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="schedule">Book a Session</a>
                        <a class="dropdown-item" href="#">Session Recordings</a>
                        <a class="dropdown-item" href="studentfeedback">Session Feedback</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blogs
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="blog">Read Blogs</a>
                        <a class="dropdown-item" href="#">Write blog/story</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Webinar
        </a>
                </li>
            </ul>
        </div>
        <i class="fa fa-user-circle-o fa-2x" style="padding-right:30px; color:#FFAC27" aria-hidden="true" style="height: 10px;" onclick="edit()"></i>
        <div id="editprof" style="display: none;">
            <p><button class="btn btn-primary" onclick="location.href='/profile'">Edit profile</button></p>
            <p><button id="btnLogout" class="btn btn-primary" onclick="logout()">Logout</button></p>
        </div>
        <i class="fa fa-bell fa-2x" aria-hidden="true" style="padding-top:5px; color:#FFAC27" onclick="location.href='notif'"></i>

    </nav>

    <a href="#" id="insert-more">Insert Row in
        Affirmations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick=" Geeks()">Delete Row in Affirmations</button>
    <br><br>
    <a href="#" id="insert-more1">Insert Row in Goals</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick=" Geeks1()">Delete Row in Goals</button>
    <br><br>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <script>
        //Intialize firebase
        const config = {
            apiKey: "AIzaSyBF6ucSKByFpQ9vQNwfb1i4JOVGyfaHPfw",
            authDomain: "mentormitr-bbff5.firebaseapp.com",
            databaseURL: "https://mentormitr-bbff5.firebaseio.com",
            projectId: "mentormitr-bbff5",
            storageBucket: "mentormitr-bbff5.appspot.com",
            messagingSenderId: "177887019473",
            appId: "1:177887019473:web:4f7049f36129cc4b0860f0",
            measurementId: "G-B7VNS84ZJ9"
        };


        firebase.initializeApp(config);
        var editprof;
        var zzz = 0;

        function edit() {

            zzz++;
            editprof = document.getElementById("editprof");
            if (zzz % 2 != 0) {

                editprof.style.display = "block"

            } else editprof.style.display = "none"
        }


        function logout() {

            firebase.auth().signOut().then(() => {
                location.href = '/';
            });
        }





        const btnLogout = document.getElementById('btnLogout');
        btnLogout.addEventListener('click', e => {

            e.preventDefault();
            firebase.auth().signOut().then(() => {
                location.href = '/logreg';
            });

        })

        const name = document.getElementById("h1");


        firebase.auth().onAuthStateChanged(user => {
            if (user) {
                name.innerHTML = "Hi " + user.displayName + "!!!"
                console.log(user);

                //  btnLogout.classList.remove("invisible");
                //location.href="/test";

            }
        })

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
    <p>
        Current Date is:
        <span id="currDate"></span>
    </p>


    <table class="center">
        <tr>
            <td>
                <table border=2 id="mytable" bordercolor=black align="center">
                    <tr>
                        <th>Affirmations</th>



                    </tr>
                    <tr>
                        <td> <input class="affir" type="text" id="fee-1" class="fee" name="js-fee">

                    </tr>
                </table>
            </td>
            <td>
                <table border=2 id="mytable1" bordercolor=black align="center">
                    <tr>
                        <th>Goals</th>



                    </tr>
                    <tr>
                        <td><input class="goals" type="text" id="fee-2" class="fee" name="js-fee">

                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <br><br>


    <button class="btn-btn-primary" onclick="submitentry()">Submit</button>
    <script language="javascript">
         const config = {
            apiKey: "AIzaSyBF6ucSKByFpQ9vQNwfb1i4JOVGyfaHPfw",
            authDomain: "mentormitr-bbff5.firebaseapp.com",
            databaseURL: "https://mentormitr-bbff5.firebaseio.com",
            projectId: "mentormitr-bbff5",
            storageBucket: "mentormitr-bbff5.appspot.com",
            messagingSenderId: "177887019473",
            appId: "1:177887019473:web:4f7049f36129cc4b0860f0",
            measurementId: "G-B7VNS84ZJ9"
        };


        firebase.initializeApp(config);
       

        

        
        let currDate =
            new Date().toLocaleDateString('en-GB');

        let inputDate = new Date();

        document.querySelector('#currDate').textContent = currDate;
        var arr = [];

        $("#insert-more").click(function () {
            $("#mytable").each(function () {
                var tds = '<tr id = "row1">';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });

        $("#insert-more1").click(function () {
            $("#mytable1").each(function () {
                var tds = '<tr id = "row1">';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });

        function submitentry() {

           
            var x = document.getElementById("currDate").innerHTML;
        var y = x.replace("/", "-");
        var time = y.replace("/", "-");

            var affirarr = [];
            var goalarr = [];
            var affir = document.getElementsByClassName("affir");
            var goals = document.getElementsByClassName("goals");
            for (var i = 0; i < affir.length; i++) {
                affirarr.push(affir[i].value)
            }

            for (var i = 0; i < goals.length; i++) {
                goalarr.push(goals[i].value)
            }

            console.log("affirmations",affirarr);
            console.log("goals",goalarr);
            
            firebase.auth().onAuthStateChanged(user => {
    
                if (user) {
                   
                   
                     var database = firebase.database();
                    var h=user.email;
                    var j=h.replace(".","_")
                    database.ref('/affirgoals/'+user.uid+ "/"+ time).set({
                        affirmations:affirarr,
                        goals:goalarr
                    }).then(()=>{
                        location.href="/schedule";
                    })
                }
                else{
                    console.log("error");
                    
                }
            })
        }

        function Geeks() {
            document.getElementById("row1").remove();
        }

        function Geeks1() {
            document.getElementById("row1").remove();
        }
    </script>

</body>

</html>