<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMitr</title>
    <script src="/__/firebase/7.14.6/firebase-app.js"></script>

    <script src="/__/firebase/7.14.6/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>To avail more services pay now</h1>
    <button id="pay" class="btn btn-primary" onclick="location.href='/payment'" style=" border-radius:100px; ">Pay Now</button>
    <button id="parentt" class=" btn btn-warning" onclick="location.href='/parent'" style="border-radius: 100px;  ">Parent Questionairre</button>
   
    <script src="paytm/checksum/server.js "></script>
</body>
</html>