<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>MentorMitr</title>
    <style>
        h2 {
            color: blueviolet;
        }
        
        p {
            text-align: justify;
            padding: 50px;
            padding-top: 10px;
            overflow-y: auto;
            background-color: burlywood;
            border: red;
        }
        
        img {
            width: 50%;
            height: 300px;
            ;
            border-radius: 10%;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="/__/firebase/7.14.6/firebase-app.js"></script>

    <script src="/__/firebase/7.14.6/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
    <script src="/__/firebase/7.15.5/firebase-storage.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <iframe src="https://docs.google.com/document/d/1lAfcRolTsF6LclIsnK2UKnPtNcuF9kYG2fFykhewP-I/edit?usp=sharing" width="400" height="400"></iframe>

    <div id="show" style="display: none;">
        <span id="para" style="display: none;"><%= x %></span>
        <center>
            <h2 style="font-family: 'Open Sans';color:black"></h2>
            <img id="blog" src="">
            <br><br>
            <p style="font-family: 'Roboto';color:black"></p>
        </center>
        <button class="btn btn-primary" onclick="location.href='/blog'">Return</button>
    </div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        const config = {
            apiKey: "AIzaSyBF6ucSKByFpQ9vQNwfb1i4JOVGyfaHPfw",
            authDomain: "mentormitr-bbff5.firebaseapp.com",
            databaseURL: "https://mentormitr-bbff5.firebaseio.com",
            projectId: "mentormitr-bbff5",
            storageBucket: "mentormitr-bbff5.appspot.com",
            messagingSenderId: "177887019473",
            appId: "1:177887019473:web:4f7049f36129cc4b0860f0",
            measurementId: "G-B7VNS84ZJ9"
        };


        //Below code extracts content, image associated with particular blog as stored in firebase and numbered in firebase as blog_1, blog_2
        firebase.initializeApp(config);

        var para = document.getElementById("para");
        var show = document.getElementById("show");
        var head = document.getElementsByTagName("h2")
        var cont = document.getElementsByTagName("p")
        var i = parseInt(para.innerHTML);



        var db = firebase.firestore();
        var arr = [];
        var storage = firebase.storage();
        var storageRef = storage.ref();
        db.collection("blogs").get().then((snapshot) => {
            snapshot.forEach((doc) => {
                if (doc.id == para.innerHTML)
                    arr.push(doc.data());
            })

            head[0].innerHTML = arr[0].title;
            cont[0].innerHTML = marked(arr[0].content);
            var spaceRef = storageRef.child(`${arr[0].img}`);

            storageRef.child(`${arr[0].img}`).getDownloadURL().then(function(url) {
                var test = url;
                document.getElementById("blog").src = test;


            }).catch(function(error) {

            });
            show.style.display = "block";
        });
    </script>
</body>

</html>