<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMitr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/__/firebase/7.14.6/firebase-app.js"></script>

    <script src="/__/firebase/7.14.6/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <h1 id="h1"></h1>
    <div style="text-align: right;">

        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="height: 10px;" onclick="edit()"></i>
        <div id="editprof" style="display: none;">
            <p><button class="btn btn-primary" onclick="location.href='/profile'">Edit profile</button></p>
            <p><button id="btnLogout" class="btn btn-primary" onclick="logout()">Logout</button></p>
        </div>

    </div>

    <button class="btn btn-primary" id="btnapply">Apply as a Mentor</button>
    <h3>If already applied Click here to go to Mentor Dashboard</h3>
    <button class="btn btn-warning" onclick="check()">Mentor Dashboard</button>
    <script>
        var editprof;
        var ct = 0;
        const config = {
            apiKey: "AIzaSyBF6ucSKByFpQ9vQNwfb1i4JOVGyfaHPfw",
            authDomain: "mentormitr-bbff5.firebaseapp.com",
            databaseURL: "https://mentormitr-bbff5.firebaseio.com",
            projectId: "mentormitr-bbff5",
            storageBucket: "mentormitr-bbff5.appspot.com",
            messagingSenderId: "177887019473",
            appId: "1:177887019473:web:4f7049f36129cc4b0860f0",
            measurementId: "G-B7VNS84ZJ9"
        };


        firebase.initializeApp(config);
        const btnapply = document.getElementById('btnapply');

        function check() {


            firebase.auth().onAuthStateChanged(user => {
                var db = firebase.firestore();
                if (user) {
                    db.collection("mentors").doc(user.uid).get().then((doc) => {

                        if (doc.data().ismentor == true) location.href = "/mentor_dashboard/" + doc
                            .data().email;
                        else alert(
                            "You do not have permission to access this... Contact Administrator ")


                    })

                }
            })

        }


        function edit() {

            ct++;
            editprof = document.getElementById("editprof");
            if (ct % 2 != 0) {

                editprof.style.display = "block"

            } else editprof.style.display = "none"




        }

        function logout() {
            const btnLogout = document.getElementById('btnLogout');
            btnLogout.addEventListener('click', e => {

                e.preventDefault();
                firebase.auth().signOut().then(() => {
                    location.href = '/';
                });

            })
        }


        const name = document.getElementById("h1");

        firebase.auth().onAuthStateChanged(user => {
            var db = firebase.firestore();
            if (user) {
                var x = user.displayName.split(" ");
                name.innerHTML = "Hi " + x[0] + "!!!" + "   " + user.photoURL;

            }
        })

        btnapply.addEventListener('click', () => {

            alert("Your form has been submitted!!")

        })
    </script>
</body>

</html>