<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMitr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/__/firebase/7.14.6/firebase-app.js"></script>

    <script src="/__/firebase/7.14.6/firebase-auth.js"></script>
    <script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>


    <script>
        var editprof;
        var ct = 0;
        const config = {
            apiKey: "AIzaSyBF6ucSKByFpQ9vQNwfb1i4JOVGyfaHPfw",
            authDomain: "mentormitr-bbff5.firebaseapp.com",
            databaseURL: "https://mentormitr-bbff5.firebaseio.com",
            projectId: "mentormitr-bbff5",
            storageBucket: "mentormitr-bbff5.appspot.com",
            messagingSenderId: "177887019473",
            appId: "1:177887019473:web:4f7049f36129cc4b0860f0",
            measurementId: "G-B7VNS84ZJ9"
        };


        firebase.initializeApp(config);

        var dbb = firebase.database();




        var date = new Date().toLocaleDateString('en-GB');

        var x = date.replace("/", "-");
        var y = x.replace("/", "-");

        firebase.auth().onAuthStateChanged(user => {
            if (user) {

                if (user.photoURL === "School" || user.photoURL === "College" || user.photoURL === "Parent" ||
                    user.photoURL === "Working Professional") {

                    var db = firebase.firestore();
                    db.collection("users").doc(user.uid).set({
                        name: user.displayName,
                        email: user.email,
                        type: user.photoURL,
                        paid: false
                    })



                    dbb.ref('/notification/' + user.uid + "/" + y).once("value", snapshot => {
                        if (snapshot.exists() == false) {
                            dbb.ref('/notification/' + user.uid + "/" + y).set({
                                name: user.displayName,
                                notif: "Add the notificjfkgjkfjgkhjation here"
                            }).then(() => {
                                if (user.photoURL == "School") location.href = "/schoolpage";
                                else if (user.photoURL == "College") location.href =
                                    "/collegepage"
                                else if (user.photoURL == "Parent") location.href =
                                    "/parentpage"
                                else if (user.photoURL == "Working Professional") location
                                    .href =
                                    "/workingprofpage"
                            })

                        } else {
                            if (user.photoURL == "School") location.href = "/schoolpage";
                            else if (user.photoURL == "College") location.href =
                                "/collegepage"
                            else if (user.photoURL == "Parent") location.href =
                                "/parentpage"
                            else if (user.photoURL == "Working Professional") location
                                .href =
                                "/workingprofpage"
                        }
                    })


                }

                if (user.photoURL == "Mentor") {
                    var db = firebase.firestore();

                    db.collection("mentors").doc(user.uid).get().then((doc)=>{
                        if(doc.exists)
                        {
                            location.href = '/mentorpage';

                        }
                        else{

                            db.collection("mentors").doc(user.uid).set({
                            name: user.displayName,
                            email: user.email,
                            type: user.photoURL,
                            paid: false,
                            ismentor: false
                        }).then(() => {
                            location.href = '/mentorpage';
                        })

                        }
                    })
                    

                }


                console.log(user);


            }
        })
    </script>

</body>

</html>