

<button class="open-button" onclick="openForm()" style="z-index:900">CHAT</button>

            <div class="chat-popup" id="myForm" style="z-index:980">

                <iframe id="mentor" allow="microphone;" width="350" height="430"
                    src="https://console.dialogflow.com/api-client/demo/embedded/3802acc3-6c2e-4875-bea5-e7ee5964988e"></iframe>

                <form action="" class="form-container">

                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>