<nav class="navbar navbar-expand-lg navbar-primary  ftco-navbar-light sticky-top" id="ftco-navbar"
    style="display: flex;justify-content: space-around;align-items: center;background-color: white;">
    <a class="navbar-brand" href="#" style="margin-left:24px;">
        <img src="images/img3.jpg" width="250" height="110">
    </a>
    <div class="container d-flex align-items-center ">
        <button style="color:#FFAC27;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

            <div class="form-group d-flex">

                <button onclick="login()"
                    class="btn py-2 px-3 btn-warning d-flex align-items-center justify-content-center"
                    style="border-color:#FFAC27;border-radius:100px">
                    <span>Login</span>
                </button>
            </div>

        <div class="collapse navbar-collapse" id="ftco-nav" style="justify-content:center">

            <ul class="navbar-nav">

                <li class="li"><a href="./" class="nav-link" style="font-size: 24px;">Home</a></li>
                <li class="li"><a href="program" class="nav-link" style="font-size: 24px;">Programs</a></li>
                <li class="li"><a href="team" class="nav-link" style="font-size: 24px;">Mentors</a></li>
                <li class="li"><a href="testimonial" class="nav-link" style="font-size: 24px;">About Us</a>
                </li>
                <li class="li"><a href="blog" class="nav-link" style="font-size: 24px;">Blogs</a></li>
                <li class="li"><a href="joinus" class="nav-link" style="font-size: 24px;">Join Us</a></li>
            </ul>
        </div>
    </div>
</nav>